.DS_Store
.Rhistory
.future

/data/.Rhistory
/data/.DS_Store
/data/*

/src/.Rhistory
/src/.DS_Store
/src/syn_gen_scratch.R
/src/lead_predictor_analysis.R
/src/beta_regression_testing.R

/out

*.nc
*.RData
*.rds
*.zip
*.txt
*.sh
*.cmd
*.csv
